@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar styling for slate-900 neutral dark theme */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #0f172a; /* Slate 900 */
}
::-webkit-scrollbar-thumb {
  background: #334155; /* Slate 700 */
  border-radius: 9999px;
}
::-webkit-scrollbar-thumb:hover {
  background: #475569; /* Slate 600 */
}
